.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}




.margin-top-bg
{
  margin-top: 60px; 
}

.card1{ margin-top: 50px;
    padding-bottom: 440px;
    color:#fff;
}

   .cardbod{ background-color: #efefef;
   
}

   .sidebar{ background-color: #efefef;

   	 border-radius: 15px 50px 30px 5px;

}
.cardbodyy{

	margin-top:10px;

}

.newpad{

	padding-bottom:170px;
}



.form-flex
{
  display: flex; /* or inline-flex */
}

.btn-xs
{
  font-size: 12px !important;
    border-radius: 0.1875rem !important ;
    padding: 5px 5px !important;
}

.entice-bg
{
  font-size: 4em;
}

.orange
{
  color: #ff6644;
}


.green
{
  color: #10c02e;
}


.blue
{
  color: #0000ff;
}

