 
 
 
/*=============website page css start=====================================*/

 
 p.paraalign{
 text-align: center;
  margin-top: 147px;
 color:#000;

 }
 .anchorcolor{

 color:#000;
 }

.zoomEffect_1 img {
  max-width: 100%;
  height:auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.zoomEffect_1:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}