.header
{ 
	padding-top: 20px;
}

.form-flex
{
  display: flex; /* or inline-flex */
}

.btn-xs
{
  font-size: 12px !important;
    border-radius: 0.1875rem !important ;
    padding: 5px 5px !important;
}

.entice-bg
{
  font-size: 4em;
}

.orange
{
  color: #ff6644;
}


.green
{
  color: #10c02e;
}


.blue
{
  color: #0000ff;
}



.modal-content 
{
    border: 4px solid #ebebeb;

}


.modal-header {
    padding: 10px;
    background-color: #2243c9;
}

.modal-title { 
    font-size: 24px;
    color: #fff;
}


.close
{
  opacity: .6;
}


.modal-header .close 
{
  margin-top: -5px;
  margin-right: -5px;
}


button.close 
{
  padding: 0px !important; 
  background-color: #395ff9;
  border-radius: 50%;
  width: 40px;
  height: 40px;  
    color: #fff !important; 
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important;
}
.clear
{
  clear:both;
}


.modal-area
{
  padding: 10px;
}

 
 

 .table-with-menu
{
  min-height: 300px !important;
}



.grid-table
{
  
}
.grid-table table 
{
  width: 100% !important;
}


.grid-table table td
{
   font:14px Helvetica; 
   text-align: left !important;
}

.card-product-image
{
    border: 1px solid #efefef; 
    text-align: center;
    padding: 10px 0 0 0 !important;    
}

div.hover-menu {
    background-color: rgb(39 158 243 / 68%); 
    bottom: -15px;
    position: relative;
    width: 289px; 
}

div.hover-menu a:link, div.hover-menu a:visited 
{
  color: #fff !important ;
}



.card-product-image .dropdown
{ 
    position: absolute !important;   
}

.flex-container {
  display: flex; /* or inline-flex */
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
flex-wrap:   wrap  ;
  justify-content: flex-start  ;
  align-items: flex-start  ;

 
}

.flex-child {
  width: 290px;  /* Or whatever */
  height: 290px; /* Or whatever */
  margin: 0 4px 4px 10px;  /* Magic! */
}

.white
{
  color: #fff !important;
}


.fddmenu
{

  position: absolute;
   top: -5px;
    right: 5px;
}

.ddright
{
    float: right !important;
    top: -15px !important;
    right: -15px !important;
}

nav.navbar { 
  background: #1c45ef !important; 
}

.navbar-menu-wrapper {
     
    box-shadow: none  !important;
}



.selectizeholder .select2-container {
   
    display: inline-block !important;  
}

.card 
{
  border-radius: 8px !important;
}



.card-header:first-child {
  border-radius: calc(0.55rem - 1px) calc(0.55rem - 1px) 0 0 !important;
}



.crembox
{
  border-radius: 10px;
  background-color: #fff;
  color:  #232323;
  padding:  10px;
  animation: glow 1s infinite alternate;
}


.radar
{

    vertical-align: middle;
    border: 5px solid #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background: #ff6600;
    animation: glow 1s infinite alternate;
 
}

@keyframes glow {
  
  from {
    box-shadow: 0 0 10px -10px #ff6258;
  }
  to {
    box-shadow: 0 0 10px 10px #f02215;
  }
  
}



.radar-green
{
  vertical-align: middle;
  border: 5px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%; 
  display: inline-block;
  background: #19d895;  
  animation: glowgreen 1s infinite alternate; 
}

@keyframes glowgreen {
  
  from {
    box-shadow: 0 0 10px -10px #19d895;
  }
  to {
    box-shadow: 0 0 10px 10px #0fd08c;
  }
  
} 

.timeline .timeline-item
{
  border-left: 1px solid #dee2e6 !important;
}


